
.box_design{
  background-color: white;
  border: 3px red solid;
  border-radius: 10px;
}

p{
  line-height: 100.0em;
}

.fac_box{
  overflow: hidden;
  border-radius: 10px;

  text-align: center;
  margin: 0 auto;
}

#FAC h4{
  font-family: serif;
}

.fac_txet{
  z-index: 10;
  position: absolute;
  text-align: center;

  color:white;
  top:30px;
  left: 30px;

  visibility: hidden;/* visible hidden*/
}


#FAC{
    width:900px;
    height: 600px;


    margin: 0 auto;
    position: relative;

    text-align: center;
  }

#FAC_TITLE{
  position: relative;
  margin: 0 auto;

  width:500px;
  text-align: center;

  background-color: red;
  border-radius: 10px;
}

#FAC_TITLE font{
  color: white;
  font-size: x-large;
  font-weight: bold;
}



img.fac{
  width:300px;
  height: 200px;
}


#FAC_ARCADE{
  width:300px;
  height: 200px;
  background-color: black;

  position: absolute;
  top:50px;
  left: 100px;
}



#FAC_BOLDERING{
  z-index: 5;
  width:300px;
  height: 200px;
  background-color: black;

  position: absolute;
  top:50px;
  right: 100px;
}


#FAC_BOWLING{
  z-index: 5;
  width:300px;
  height: 200px;
  background-color: black;

  position: absolute;
  top:350px;
  left: 100px;

}


#FAC_BILLIARDS{
  z-index: 5;
  width:300px;
  height: 200px;
  background-color: black;

  position: absolute;
  top:350px;
  right: 100px;

}
