    main a:link {color:blue;}
    main a:visited {color:white;}
    footer a:link {color:blue;}
    footer a:visited {color:#ffa100;}
    body {
      background-color: white;
      font-family:"游ゴシック";
      background-image: url("image/back7.png");
      background-size:200px 140px;
      /*background-repeat: no-repeat;
      background-size:cover;*/
    }
    header {
      color:black;
      background-image: url("image/back9.png");
      background-color: #ff0000;
      height: 240px;
      margin:-40px;
      padding: -10px;
      border-top: solid 60px #ed0000;
      border-bottom: solid 1px #d8d8d8;
      position: relative;
      z-index:1
      /*width: 1000px;
      margin-right: auto;
      margin-left: auto;*/
    }
    .hd{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    }
    .top_logo {
      width:60px;
      height:60px;
    }
    .point {
    }
#cse-search-box{
  margin-left: 1000px;
}
    .logo {
      font: bold 25px "sans-serif";
    }
    /*.re {
      font-size: 14px;
      margin-left:70px;
    }*/
    .cp_navi {
	background-color: #ffffff;
	background-image: url("image/back9.png");
	/*border: 1px solid #dedede;
	border-radius: 4px;*/
	color: #888888;
	display: block;
	text-align: center;
	margin: 1em 1% ;
	overflow: hidden;
	margin-left:-100px;
	
	}
.cp_navi ul {
	margin: 0;
	padding: 0;
}
.cp_navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.cp_navi > ul > li > a > .caret {
	border-top: 4px solid #aaaaaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
      font: bold 20px "游ゴシック";
	color: black ;
	display: block;
	line-height: 56px;
	padding: 0 70px;
	text-decoration: none;
}
.cp_navi > ul > li > a >img {
    padding-top:13px;
    padding-right:10px;
    width:30px;
    height:30px;
}
.cp_navi > ul > li:hover {
	background-color: #ed0000;
}
.cp_navi > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
	background-color: #ed0000;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 268px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.cp_navi > ul > li > div ul > li {
	display: block;
}
.cp_navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}
.cp_navi > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}
    /*ul {
      /*height: 70px;
      width: 1000px;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      background-color: #ff2d11;
      text-align: center;
      border-radius: 50px;
      /*box-shadow: 0px 6px 7px #d6d4d4;
    }
    ul a{
      font: bold 18px "";
    }
    li {
      float: left;
      border-right: 1px dashed white;
    }
    li:last-child {
      border-right: none;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 88px;
      text-decoration: none;
    }
    li a:hover:not(.active) {
      background-color: #ffa126;
    }*/
    main {
      /*background: rgba(255,255,255,0.5);
      border: solid #ffd028;
      border-radius: 20px;
      background-color: white;*/
      width: 1000px;
      margin-top:-35px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: -35px;
      position: relative;
      z-index:0;
    }
    h1 {
      background-color: #ed0000;
      color: white;
      font: bold 25px "游ゴシック";
      text-align: center;
      height: 50px;
      padding-top: 10px;
    }
    p {
      border-bottom: solid 3px #ff2d11;
      color: white;
      display: block;
      text-align: left;
      font:bold 20px "游ゴシック";
    }
    .op {
      color:white;
      margin-left: 100px;
      font-weight: bold;
    }
    table {
      background-color: white;
      width: 800px;
      border-collapse: collapse;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      font: 15px "游ゴシック";
    }
    table th, table td {
      padding: 15px;
      border: solid 1px #dfe0d8;
    }
    th {
      background-color: #ff2d11;
      color: white;
    }
    .footer2 {
      margin-right: auto;
      margin-left: auto;
    }
    .footer_img {
      margin-left: 50px;
    }
    footer {
      color: black;
      background-image: url("image/footer1.png");
      background-repeat: no-repeat;
      background-attachment: scrol;
      background-position: bottom;
      background-color: white;
      height: 400px;
      margin: 0px -60px 0px -10px;
      padding: -10px;
      position: relative;
      z-index:2
    }
    footer div {
      width:1200px;
      padding: 30px 0px 0px 160px;
    }
    footer a {
      padding:7px;
    }
    .ab {
      margin-left: 50px;
    }
