  <!--上部共通部分開始-->
    main a:link {color:blue;}
    main a:visited {color:white;}
    footer a:link {color:blue;}
    footer a:visited {color:#ffa100;}
    body {
      background-color: white;
      font-family:"游ゴシック";
      background-image: url("image/back7.png");
      background-size:200px 140px;
    }
    header {
      color:black;
      background-image: url("image/back9.png");
      background-color: #ff0000;
      height: 240px;
      margin:-40px;
      padding: -10px;
      border-top: solid 60px #ed0000;
      border-bottom: solid 1px #d8d8d8;
      position: relative;
      z-index:1
    }
    .hd{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    }
    .top_logo {
      width:60px;
      height:60px;
    }
    .point {
    }
    #cse-search-box{
      margin-left: 1000px;
    }
    .logo {
      font: bold 25px "sans-serif";
    }
    .cp_navi {
      background-color: #ffffff;
      background-image: url("image/back9.png");
      color: #888888;
      display: block;
      text-align: center;
      margin: 1em 1% ;
      overflow: hidden;
      margin-left:-100px;
    }
    .cp_navi ul {
      margin: 0;
      padding: 0;
    }
    .cp_navi ul li {
      display: inline-block;
      list-style-type: none;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    .cp_navi > ul > li > a > .caret {
      border-top: 4px solid #aaaaaa;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: '';
      display: inline-block;
      height: 0;
      width: 0;
      vertical-align: middle;
      -webkit-transition: color 0.1s linear;
      transition: color 0.1s linear;
    }
    .cp_navi > ul > li > a {
      font: bold 20px "游ゴシック";
      color: black ;
      display: block;
      line-height: 56px;
      padding: 0 70px;
      text-decoration: none;
    }
    .cp_navi > ul > li > a >img {
      padding-top:13px;
      padding-right:10px;
      width:30px;
      height:30px;
    }
    .cp_navi > ul > li:hover {
      background-color: #ed0000;
    }
    .cp_navi > ul > li:hover > a {
      color: rgb( 255, 255, 255 );
    }
    .cp_navi > ul > li:hover > a > .caret {
      border-top-color: rgb( 255, 255, 255 );
    }
    .cp_navi > ul > li > div {
      background-color: #ed0000;
      border-top: 0;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
      display: none;
      margin: 0;
      opacity: 0;
      position: absolute;
      width: 268px;
      visibility: hidden;
      -webkit-transiton: opacity 0.2s;
      transition: opacity 0.2s;
    }
    .cp_navi > ul > li:hover > div {
      display: block;
      opacity: 1;
      visibility: visible;
    }
    .cp_navi > ul > li > div ul > li {
      display: block;
    }
    .cp_navi > ul > li > div ul > li > a {
      color: #ffffff;
      display: block;
      padding: 12px 24px;
      text-decoration: none;
    }
    .cp_navi > ul > li > div ul > li:hover > a {
      background-color: rgba( 255, 255, 255, 0.1);
    }
  <!--上部共通部分終了-->
  <!--mainタグ共通部分開始-->
    main {
      width: 1000px;
      margin-top:-35px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: -35px;
      position: relative;
      z-index:0;
    }
  <!--mainタグ共通部分終了-->
  <!--下部共通部分開始-->
    .footer {
      background-color: black;
    }
    .ft {
      width:1000px;
    }
    footer a {
      padding:7px;
    }
    .ab {
      margin-left: 50px;
    }
  <!--下部共通部分終了-->
