
.re{
  position: relative;
  right: 300px;
}

main div {
    text-align:center;
  }
   h1 {
    text-align:center;
    background: #ed0000;
    width: 700px;
    height: 40px;
    padding: 8px;
    text-align: center;
    margin: 30px auto;
    color:white;
}
.box17 {
  position: relative;
  background: #ffffff;
  width: 700px;
  height: 150px;
  padding: 8px;
  text-align: left;
  border: 2px solid #ff0000;
  margin: 10px auto;
}
.link_button {

  background: red;
  color:white;
  border-radius: 20px;
  font-size: 300%;
  font-family: 'Avenir','Arial';
  font-weight: bold;
  padding:5px 10px;

  position: relative;
  left: 700px;
  margin:auto 0;
  text-align: center;
  margin-left: auto;margin-right: auto;
}
.link_button:hover {
  background: silver;
  text-decoration: none;
  color: gray;
}
