    <ul>
      <li>
        <a href="#top">
        <img class="menu_link" src="image/top_img.png" alt="top"><br>
<!--http://icooon-mono.com/11212-%E5%AE%B6%E3%81%AE%E7%84%A1%E6%96%99%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3/-->
        Top</a>
      </li>
      <li>
        <a href="#schedule">
        <img class="menu_link" src="image/sch_img.png" alt="sch"><br>
<!--http://icooon-mono.com/12580-%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC%E3%81%AE%E3%83%95%E3%83%AA%E3%83%BC%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B333/-->
        Schedule</a>
      </li>
      <li>
        <a href="#about">
        <img class="menu_link" src="image/about_img.png" alt="ab"><br>
<!--http://icooon-mono.com/13300-%E3%82%A4%E3%83%B3%E3%83%95%E3%82%A9%E3%83%A1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B33/-->
        About</a></li>
        <li><a href="#price">
        <img class="menu_link" src="image/price_img.png" alt="pri"><br>
<!--http://icooon-mono.com/10494-%E3%81%8C%E3%81%BE%E5%8F%A3%E8%B2%A1%E5%B8%83%E3%81%AE%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3-%EF%BC%88%E5%86%86%EF%BC%89/-->
        Price</a>
        </li>
    </ul>
    <div class="re">
    <a href=""><u>トップ</u></a> >
    <a href=""><u>料金表</u></a>