body{
  margin: 0;
}

p{
line-height: 30px;
}

.box_design{
  border-radius: 10px;/*角丸め*/
  background-color: red;
  border:red 0px none;/*none solid groove ridge dashed */
}

#SLIDE{/*　スライド部です　*/

    margin: 0 auto;
    overflow:hidden; /* 画面幅からでないように */

    position: relative;
}

#INFO{/*　インフォメーション部です　*/
  width:1000px;
  margin: 0 auto;
  height: 200px;

  position:relative;

}

#ACCESS{/*　アクセス部です　*/
  width:1000px;
  height: 400px;
  margin: 0 auto;

  position:relative;
}





/*　　スライド部　　*/

#SLIDE_BOX{
  width: 1000px;
  overflow: hidden;
  text-align: center;
  margin-left: auto;margin-right: auto;

}

#SLIDE_UL{
  margin: 0;
  padding: 0;
}

#SLIDE_UL img{
  margin: 0;
  padding: 0;
}

.bx-wrapper {
    background-color: transparent;
    margin: 0px auto 0px;
    border: none;
    box-shadow: none;
}
.bx-wrapper img {
    display: block;
    margin: 0px auto;
}

.slide_body{/*　スライドする画像です　*/
  width: 1000px;
  height: 400px;
}


#SLIDE_INT{/*施設紹介のボックス*/
    text-align: center;
    margin: 0 auto;
    width: 1000px;

    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
}

#SLIDE_INT table{
  position:relative;
  top:10px;
  margin-left: auto;margin-right: auto;
  width: 950px;/*表の幅*/
}


.slide_int img{
  width: 100px;
  height:100px;

  position: relative;
  top:10px;

  border-radius: 10px;
  object-fit: cover;
}

#SLIDE_INT div{
  width: 110px;
  background-color: #ff0000;
  border-radius: 20px;

  margin: 0 auto;
}

.slide_int font{
  color: white;
  font-family: fantasy;
}


slide_int{
  text-align: center;
}
/*　　スライド部終わり　　*/

/*　　インフォメーション部です　　*/

.info_title{
  position: relative;
  color: white;
  left:30px;
  top:10px;

  font-family: fantasy;
}

div.info_text{/*　　インフォメーション内部です　　*/
  position: relative;
  top:20px;

  height: 6.3em;
  overflow: auto;
  width:70%;

  border: black 2px solid;
  background-color: white;

  margin-left: auto;margin-right: auto;
}


/*　　インフォメーション部終わり　　*/


#ACCESS_TITLE{
  position: relative;
  color: white;
  left:30px;
  top:10px;
  font-family: fantasy;
}
#ACCESS_MAP{/*　　アクセスマップです　　*/
  float:left;
  position: relative;
  top:20px;
  left:20px;
}


#ACCESS_TEXT{/*　　アクセスの説明文です　　*/
  color: white;
  position: relative;
  top:20px;
  left:80px;

}
